root {
    --cor-de-fundo: #1E1E1E;
    --verde: #6FFF57;
    --branco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-inativo: #3a375e80;
    --texto-fundo: #3a375e4d;
}

.titulo-principal span {
    color: var(--verde);
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch', sans-serif;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 32px;
}

. titulo-principal span {
    c olor : var(--verde);
    }
    }
    b ody {
    b ackground-color : var(--cor-de-fundo);
    c olor : var(--branco);
    f ont-family : 'Chakra Petch' , sans-serif ;
    }
    . conteudo-principal {
    d isplay : flex ;
    fl ex-direction : column ;
    j ustify-content : center ;
    a lign-items : center ;
    m ax-width : 1200px ;
    w idth : 100% ;
    m argin : 0 auto ;
    }
    . titulo-principal {
    t ext-align : left ;
    w idth : 100% ;
    f ont-size : 32px ;
.botoes {
    display : block ;
    }