@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    background: linear-gradient(#afaca4 16.62% #3930b6 85.61%);
}
h1{
    font-family:Bebas Neue;
    background-color:#baaefd ;
}