@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    background: linear-gradient(#db53c5 #5c56bb);
}
h1{
    font-family:Bebas Neue;
    background-color:#baaefd ;
}